## Task 1 - SQL

### Build SparkSession:

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 44 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 77.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=a5d12da460aba9d2557c8bdb5197d98a3aeaacb3f52ae035196b128701fc3b09
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [22]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as fn

In [3]:
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [14]:
df_js=spark.read.json("/content/DataFrames_sample.json")

### Display the schema:

In [15]:
df_js.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro

In [21]:
df_mac =df_js.select('*').where(df_js['Model']=='MacBook Pro')
df_mac.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

### Display "RAM"column and count "RAM" column:

In [27]:
df_js.groupBy('RAM').agg(fn.count(fn.col('RAM')).alias('CountOfRaM')).show()

+----+----------+
| RAM|CountOfRaM|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [30]:
df_js.select('*').where('year =2015').collect()

[Row(D=9.48, H=0.61, HDD='512GB SSD', Id=1, Model='MacBook Pro', RAM='16GB', ScreenSize='15"', W=13.75, Weight=4.02, Year=2015)]

### Get all when "Model" start with "M":

In [39]:
df_js.createOrReplaceTempView('data')
spark.sql("select * from data where Model like'M%'").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [32]:
df_js.select('*').where(df_js['Model']=='MacBook Pro').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [42]:
spark.sql("select * from data where (RAM =='8GB') and Model=='MacBook'").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [43]:
df_js.select('*').where('(D >= 8 ) and (Model = "iMac")').show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [48]:
df_sal=spark.read.csv('/content/test1.csv',header=True)

### Display Salary of the people less than or equal to 20000

In [49]:
df_sal.select('*').where('Salary <= 20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [51]:
df_sal.select('*').where('(Salary <= 20000) and (Salary >=15000)').collect()

[Row(Name='Sunny', age='29', Experience='4', Salary='20000'),
 Row(Name='Paul', age='24', Experience='3', Salary='20000'),
 Row(Name='Harsha', age='21', Experience='1', Salary='15000'),
 Row(Name='Shubham', age='23', Experience='2', Salary='18000')]

## Task 3

### Read "test3" dataset:

In [53]:
df_t3 =spark.read.csv('/content/test3.csv',header=True)

### Display dataset

In [54]:
df_t3.show(5)

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
| Krish|Data Science| 10000|
| Krish|         IOT|  5000|
|Mahesh|    Big Data|  4000|
| Krish|    Big Data|  4000|
|Mahesh|Data Science|  3000|
+------+------------+------+
only showing top 5 rows

### Display schema

In [55]:
df_t3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [57]:
df_t3.groupBy('Name').agg(fn.sum(fn.col('Name'))).show()

+---------+---------+
|     Name|sum(Name)|
+---------+---------+
|Sudhanshu|     null|
|    Sunny|     null|
|    Krish|     null|
|   Mahesh|     null|
+---------+---------+

In [58]:
df_t3.groupBy('Name').agg(fn.sum(fn.col('Salary'))).show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [59]:
df_t3.groupBy('Name').agg(fn.avg(fn.col('Name'))).show()

+---------+---------+
|     Name|avg(Name)|
+---------+---------+
|Sudhanshu|     null|
|    Sunny|     null|
|    Krish|     null|
|   Mahesh|     null|
+---------+---------+

In [60]:
df_t3.groupBy('Name').agg(fn.avg(fn.col('Salary'))).show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [62]:
df_t3.groupBy('Departments').agg(fn.sum(fn.col('Salary'))).show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|    15000.0|
|Data Science|    43000.0|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [63]:
df_t3.groupBy('Departments').agg(fn.mean(fn.col('Salary'))).show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [64]:
df_t3.groupBy('Departments').agg(fn.count(fn.col('Departments'))).show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [66]:
df_t3.agg(fn.sum('Salary')).show()

+-----------+
|sum(Salary)|
+-----------+
|    73000.0|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [67]:
df_iti=spark.read.csv('/content/ITI_data.csv',header=True)

In [68]:
df_iti.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tonnage: string (nullable = true)
 |-- passengers: string (nullable = true)
 |-- length: string (nullable = true)
 |-- cabins: string (nullable = true)
 |-- passenger_density: string (nullable = true)
 |-- crew: string (nullable = true)

In [72]:
df_iti.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [73]:
columns = ['Age', 'Tonnage' , 'passengers','length' , 'cabins' , 'passenger_density','crew']
for col_name in columns:
    df_iti = df_iti.withColumn(col_name, fn.col(col_name).cast('double'))

In [74]:
df_iti.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [87]:
trainDF, testDF = df_iti.randomSplit([0.8,0.2],seed=42)

In [88]:
typ=df_iti.dtypes

In [89]:
categoricalCol=[f for(f,d) in typ if d=='string']
categoricalCol

['Ship_name', 'Cruise_line']

In [90]:
OutputCol_index = [f + '_indx'for f in categoricalCol ]
OutputCol_index

['Ship_name_indx', 'Cruise_line_indx']

In [91]:
OHE_output_col = [f + '_OHE'for f in categoricalCol ]
OHE_output_col

['Ship_name_OHE', 'Cruise_line_OHE']

In [92]:
numericalCol = [f for(f,d) in typ if( (d=='double') and (f !='crew'))]
numericalCol

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

In [93]:
assemblerInputs = OHE_output_col + numericalCol

### OneHotEncoder

In [94]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline

###Use VectorAssembler to merge all columns into one column:

In [95]:
stringIndex = StringIndexer(inputCols=categoricalCol, outputCols=OutputCol_index ,handleInvalid='skip')

OHE=OneHotEncoder(inputCols=OutputCol_index , outputCols=OHE_output_col)

vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [96]:
lr = LinearRegression(featuresCol='features',labelCol='crew',predictionCol='prediction')

### Creating a Pipeline

In [97]:
stgs = [stringIndex,OHE,vecAssembler,lr]

In [98]:
pl = Pipeline(stages=stgs)
pl_Model = pl.fit(trainDF)

In [101]:
predDF = pl_Model.transform(testDF)

In [103]:
predDF.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)
 |-- Ship_name_indx: double (nullable = false)
 |-- Cruise_line_indx: double (nullable = false)
 |-- Ship_name_OHE: vector (nullable = true)
 |-- Cruise_line_OHE: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [105]:
predDF.select('crew','prediction').show()

+----+------------------+
|crew|        prediction|
+----+------------------+
|12.0|14.827026154576883|
|8.69|7.5507749324035265|
| 6.3| 6.257969271425636|
|0.88|-2.843884120871538|
|1.97|-2.263445892994958|
+----+------------------+

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566