In [21]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [49]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [50]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [77]:
from pyspark.sql.types import (StructType, StructField,
                               StringType, IntegerType,FloatType)

MySchema = StructType([StructField('id', StringType(), True),
                       StructField('date', StringType(), True),
                           StructField('open', FloatType(), True),
                           StructField('High', FloatType(), True),
                           StructField('Low', FloatType(), True),
                           StructField('Close', FloatType(), True),
                           StructField('AdjClose', FloatType(), True),
                           StructField('Volume', FloatType(), True) 
                           ])

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [78]:
df = spark.readStream.format("csv").option('header' , 'true') \
    .schema(MySchema) \
    .load("/content/IpStream/")

### Make sure the sataframe is streaming the files from the folder

In [79]:
df.printSchema(
)

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- AdjClose: float (nullable = true)
 |-- Volume: float (nullable = true)

### Create a stream writer into memory and specify the query name "stock:

In [63]:
writer = df.writeStream.outputMode('append')\
                        .format('memory')\
                        .queryName('stock')

### Start the write stream and make sure it works (read all columns from the table)

In [64]:
query=writer.start()

In [69]:
spark.sql('select * from stock').show(100)

+---+----------+-------+-------+-------+-------+---------+--------+
| id|      date|   open|   High|    Low|  Close| AdjClose|  Volume|
+---+----------+-------+-------+-------+-------+---------+--------+
|  0|2000-01-04|22817.9|25696.8|22817.9|24879.3| 23510.88|108745.0|
|  1|2000-01-05|24523.9|26229.9|23670.9|24417.3|23074.295|175990.0|
|  2|2000-01-06|24381.7|24666.1|22746.8|22817.9|21562.865| 71746.0|
|  3|2000-01-07|22036.0|24879.3|22036.0|23884.2|22570.514|120984.0|
|  4|2000-01-10|24879.3|25519.1|23813.1|24061.9| 22738.44|151371.0|
|  5|2000-01-11|24168.5|25021.5|23955.2|24239.6|22906.365| 95943.0|
|  6|2000-01-12|24168.5|24452.8|23457.6|23670.9|22368.947| 61899.0|
|  7|2000-01-13|23670.9|24132.9|23102.2|23244.4|21965.906| 57538.0|
|  8|2000-01-14|23457.6|24168.5|22746.8|23244.4|21965.906| 84267.0|
|  9|2000-01-17|22533.6|23457.6|22533.6|23457.6|22167.377| 67807.0|
| 10|2000-01-18|23457.6|23742.0|22746.8|23422.1|22133.832| 27995.0|
| 11|2000-01-19|22817.9|23173.3|22036.0|22036.0| 20823.97| 44173.0|
| 12|2000-01-20|21325.1|22000.4|20756.5|21680.6|20488.117| 47550.0|
| 13|2000-01-21|21680.6|22391.4|20863.1|21680.6|20488.117| 80750.0|
| 14|2000-01-24|20969.7|21822.7|20969.7|20969.7| 19816.32| 79906.0|
| 15|2000-01-25|20258.9|20934.2|19548.0|20116.7|19010.236|170925.0|
| 16|2000-01-26|20223.3|20543.2|19761.3|20330.0|19211.805| 59929.0|
| 17|2000-01-27|20401.0|22746.8|20330.0|21040.8|19883.512|139132.0|
| 18|2000-01-28|21431.8|22107.1|21040.8|21964.9|20756.783| 78640.0|
| 19|2000-01-31|21325.1|21893.8|21183.0|21467.3|20286.553| 45861.0|
| 20|2000-02-01|22249.2|22675.7|21751.6|21822.7|20622.402| 64009.0|
| 21|2000-02-02|22249.2|22675.7|21858.3|22604.6|21361.295| 55006.0|
| 22|2000-02-03|22604.6|23031.1|22036.0|22746.8|21495.676| 45721.0|
| 23|2000-02-04|22746.8|22746.8|22746.8|22746.8|21495.676|     0.0|
| 24|2000-02-07|22746.8|23066.7|22107.1|22533.6|  21294.2| 65416.0|
| 25|2000-02-08|22533.6|23457.6|22107.1|22178.1|20958.254| 54865.0|
| 26|2000-02-09|22391.4|23102.2|22036.0|22355.8|21126.182|120703.0|
| 27|2000-02-10|22036.0|22391.4|21218.5|21787.2|20588.854| 83423.0|
| 28|2000-02-11|20969.7|24168.5|20969.7|22746.8|21495.676|146728.0|
| 29|2000-02-14|22391.4|22746.8|21538.4|22462.5|21227.012| 74982.0|
| 30|2000-02-15|22462.5|22675.7|21325.1|21680.6|20488.117| 86518.0|
| 31|2000-02-16|21040.8|21929.3|20969.7|21680.6|20488.117| 47127.0|
| 32|2000-02-17|21822.7|23955.2|21680.6|23813.1|22503.324|436246.0|
| 33|2000-02-18|24879.3|27331.7|24737.2|26656.4|25190.236|800464.0|
| 34|2000-02-21|26301.0|27011.8|25021.5|25874.5|24451.344|328486.0|
| 35|2000-02-22|26087.7|27011.8|22569.1|25021.5| 23645.26|231839.0|
| 36|2000-02-23|23528.7|25483.5|23528.7|24737.2|23376.596|184290.0|
| 37|2000-02-24|24168.5|25021.5|23173.3|24523.9| 23175.03|124220.0|
| 38|2000-02-25|24168.5|24808.2|23315.5|24808.2| 23443.69|221007.0|
| 39|2000-02-28|24808.2|25590.2|23813.1|24523.9| 23175.03|144055.0|
|160|2000-08-15|31632.3|31632.3|31632.3|31632.3|29892.451|     0.0|
|161|2000-08-16|31028.1|32627.5|30281.7|30921.4|29220.652| 91160.0|
|162|2000-08-17|30317.2|31276.9|29784.1|30637.1|28951.988| 68511.0|
|163|2000-08-18|29926.3|30992.5|29286.5|29499.8|27877.246|125767.0|
|164|2000-08-21|29144.3|30423.9|28788.9|29535.3|27910.791| 69917.0|
|165|2000-08-22|29641.9|30281.7|29357.6|29428.7|27810.053| 85111.0|
|166|2000-08-23|29499.8|29997.4|28646.8|28860.0|27272.635|137865.0|
|167|2000-08-24|28931.1|28931.1|27402.8|28788.9|27205.447| 99319.0|
|168|2000-08-25|28504.6|30068.4|28433.5|30068.4|28414.568|112825.0|
|169|2000-08-28|30068.4|30530.5|29499.8|29499.8|27877.246| 53317.0|
|170|2000-08-29|29499.8|29855.2|28788.9|29322.1|27709.314| 54161.0|
|171|2000-08-30|29322.1|29428.7|28717.8|29286.5|27675.674| 50082.0|
|172|2000-08-31|29713.0|29713.0|28469.1|28788.9|27205.447| 45017.0|
|173|2000-09-01|29215.4|29322.1|28717.8|29286.5|27675.674| 34326.0|
|174|2000-09-04|29499.8|30921.4|29322.1|30637.1|28951.988| 93130.0|
|175|2000-09-05|30494.9|31134.7|29926.3|29961.8| 28313.83| 80046.0|
|176|2000-09-06|29961.8|30352.8|29215.4|30210.6|28548.947| 59929.0|
|177|2000-09-07|30210.6|30885.9|29606.4|29855.2|28213.096| 87080.0|
|178|2000-09-08|29286.5|30352.8|29286.5|29997.4|28347.477| 36999.0|
|179|2000-09-11|29997.4|29997.4|29997.4|29997.4|28347.477|     0.0|
|180|2000-09-12|29997.4|29997.4|29997.4|29997.4|28347.477|     0.0|
|181|2000-09-13|29997.4|29997.4|29997.4|29997.4|28347.477|     0.0|
|182|2000-09-14|29499.8|30423.9|28646.8|30423.9| 28750.52| 45861.0|
|183|2000-09-15|29499.8|30352.8|29144.3|29499.8|27877.246| 54583.0|
|184|2000-09-18|29144.3|29144.3|25092.6|26585.3|25123.049| 61336.0|
|185|2000-09-19|25234.7|27082.9|24879.3|25448.0|24048.303| 64150.0|
|186|2000-09-20|26301.0|27367.3|25448.0|26158.8|24720.006| 57397.0|
|187|2000-09-21|26514.2|26656.4|25448.0|26443.2|24988.762| 38546.0|
|188|2000-09-22|26443.2|26443.2|24204.0|24239.6|22906.365| 40094.0|
|189|2000-09-25|25945.6|26372.1|25092.6|26052.2| 24619.27| 41219.0|
|190|2000-09-26|26301.0|28646.8|26052.2|28078.1| 26533.74| 70762.0|
|191|2000-09-27|28504.6|31276.9|28078.1|29499.8|27877.246|194981.0|
|192|2000-09-28|29855.2|31916.6|29819.6|30850.4| 29153.56|242671.0|
|193|2000-09-29|32556.4|33409.4|31561.2|33409.4|31571.805|300772.0|
|194|2000-10-02|35186.5|36963.6|29215.4|31703.4|29959.639|669632.0|
|195|2000-10-03|31703.4|31703.4|31703.4|31703.4|29959.639|     0.0|
|196|2000-10-04|33054.0|35399.7|30921.4|31632.3|29892.451|683560.0|
|197|2000-10-05|31276.9|31490.1|29855.2|30637.1|28951.988|327079.0|
|198|2000-10-06|31276.9|32129.9|30423.9|30637.1|28951.988|244641.0|
|199|2000-10-09|29926.3|30494.9|29073.3|29073.3|27474.205|226493.0|
| 40|2000-02-29|25163.7|26087.7|24239.6|25519.1| 24115.49|233246.0|
| 41|2000-03-01|25519.1|25519.1|25519.1|25519.1| 24115.49|     0.0|
| 42|2000-03-02|25767.9|29144.3|25767.9|28575.7|27003.973|408391.0|
| 43|2000-03-03|27793.8|29499.8|26798.6|27864.8|26332.176|216505.0|
| 44|2000-03-06|28291.3|29144.3|27367.3|28717.8|27138.256|170784.0|
| 45|2000-03-07|28575.7|29357.6|27935.9|28504.6|26936.781|109730.0|
| 46|2000-03-08|28078.1|28291.3|27154.0|28113.6| 26567.29| 89331.0|
| 47|2000-03-09|28717.8|29428.7|28078.1|28433.5|26869.592|196669.0|
| 48|2000-03-10|28646.8|28717.8|27367.3|28078.1| 26533.74| 87502.0|
| 49|2000-03-13|27154.0|28149.2|27154.0|27722.7| 26197.89| 59507.0|
| 50|2000-03-14|27935.9|27935.9|25945.6|26869.7|25391.805| 43611.0|
| 51|2000-03-15|25945.6|26798.6|25234.7|26798.6|25324.617| 74138.0|
| 52|2000-03-16|27082.9|28291.3|26016.7|26016.7| 24585.72| 84548.0|
| 53|2000-03-17|26016.7|26869.7|24523.9|25341.4|23947.566| 66119.0|
| 54|2000-03-20|25519.1|25519.1|24595.0|24879.3| 23510.88| 53458.0|
| 55|2000-03-21|24523.9|25945.6|24026.3|24523.9| 23175.03| 83282.0|
| 56|2000-03-22|24239.6|25128.1|24097.4|24452.8| 23107.84| 43892.0|
| 57|2000-03-23|24879.3|25305.8|23813.1|23813.1|22503.324| 68089.0|
| 58|2000-03-24|24168.5|25590.2|23813.1|25092.6| 23712.45| 59226.0|
| 59|2000-03-27|24879.3|25590.2|24239.6|24879.3| 23510.88| 50926.0|
+---+----------+-------+-------+-------+-------+---------+--------+
only showing top 100 rows

In [70]:
query.stop()

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [71]:
df2=df.na.drop()

In [75]:
df3=df2.withColumn("diff", df.High - df.Low)

In [76]:
df3.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- AdjClose: float (nullable = true)
 |-- Volume: float (nullable = true)
 |-- diff: float (nullable = true)

### Create a new write stream using the new generated dataframe and call the generate table "modified_data"

In [80]:
writer2 = df3.writeStream.outputMode('append')\
                        .format('memory')\
                        .queryName('modified_data')

In [81]:
query2=writer2.start()

In [83]:
spark.sql('select * from modified_data' ).show(30)

+---+----------+-------+-------+-------+-------+---------+--------+---------+
| id|      date|   open|   High|    Low|  Close| AdjClose|  Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
|240|2000-12-05|26585.3|27367.3|26372.1|27011.8|25526.092| 91019.0| 995.2012|
|241|2000-12-06|27011.8|27509.4|26798.6|26869.7|25391.805|105791.0| 710.8008|
|242|2000-12-07|27011.8|27011.8|26478.7|26656.4|25190.236| 40656.0|533.10156|
|243|2000-12-08|26656.4|27722.7|26656.4|27651.6|  26130.7|149964.0|1066.2988|
|244|2000-12-11|27687.1|28860.0|27651.6|28078.1| 26533.74|159671.0|1208.4004|
|245|2000-12-12|28042.6|28078.1|27438.3|27935.9|26399.361| 74560.0| 639.7988|
|246|2000-12-13|27651.6|29286.5|27651.6|28469.1|26903.234|270385.0|1634.9004|
|247|2000-12-14|28469.1|29784.1|28291.3|28362.4|26802.406|256317.0|1492.7988|
|248|2000-12-15|28362.4|28895.6|27793.8|27935.9|26399.361|108886.0|1101.7988|
|249|2000-12-18|27580.5|28433.5|27367.3|28291.3|26735.217| 92848.0|1066.1992|
|250|2000-12-19|27722.7|28788.9|27651.6|27651.6|  26130.7|115779.0|1137.3008|
|251|2000-12-20|27402.8|27793.8|27154.0|27722.7| 26197.89| 99601.0| 639.8008|
|252|2000-12-21|27367.3|27793.8|27082.9|27722.7| 26197.89|129706.0| 710.9004|
|253|2000-12-22|27687.1|28007.0|27509.4|28007.0| 26466.55| 77233.0| 497.5996|
|254|2000-12-26|27971.5|31987.7|27473.9|28433.5|26869.592|131535.0| 4513.799|
|255|2001-01-02|27367.3|27367.3|25945.6|26656.4|25190.236| 64150.0|1421.7012|
|256|2001-01-03|26585.3|26656.4|26016.7|26656.4|25190.236| 37421.0| 639.7012|
|257|2001-01-04|27367.3|28078.1|26905.2|27082.9|25593.277|131254.0|1172.9004|
|258|2001-01-05|26940.8|26940.8|26194.4|26585.3|25123.049| 90316.0| 746.4004|
|259|2001-01-08|26514.2|27011.8|26052.2|26052.2| 24619.27|102414.0|959.60156|
|260|2001-01-09|26087.7|26549.8|25874.5|26372.1|24921.574| 81453.0| 675.3008|
|261|2001-01-10|26585.3|26585.3|25732.3|26301.0|24854.385| 89191.0|    853.0|
|262|2001-01-11|25945.6|26549.8|25803.4|26016.7| 24585.72|101289.0| 746.4004|
|263|2001-01-12|26301.0|27011.8|26016.7|26194.4| 24753.65| 83001.0|995.10156|
|264|2001-01-15|26194.4|26620.9|26052.2|26194.4| 24753.65|106494.0| 568.7012|
|265|2001-01-16|26229.9|26549.8|25874.5|25874.5|24451.344|125064.0| 675.3008|
|266|2001-01-17|25874.5|27651.6|25874.5|26301.0|24854.385|388415.0|1777.0996|
|267|2001-01-18|26656.4|26656.4|26016.7|26158.8|24720.006|128299.0| 639.7012|
|268|2001-01-19|25874.5|26407.6|25732.3|26158.8|24720.006|140820.0| 675.2988|
|269|2001-01-22|25590.2|26407.6|25590.2|26229.9|24787.197| 94114.0| 817.4004|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
only showing top 30 rows

In [84]:
query2.stop()

### Write the generated data into files instead of the memory.

In [143]:
writer3 = df3.writeStream.outputMode('append')\
                      .format('csv').option('path' , '/content/OpStream3').option("checkpointLocation", 'ch7')

In [144]:
query3=writer3.start()

In [145]:
spark.sql('select * from modified_data' ).show(10)

+---+----------+-------+-------+-------+-------+---------+--------+---------+
| id|      date|   open|   High|    Low|  Close| AdjClose|  Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
|240|2000-12-05|26585.3|27367.3|26372.1|27011.8|25526.092| 91019.0| 995.2012|
|241|2000-12-06|27011.8|27509.4|26798.6|26869.7|25391.805|105791.0| 710.8008|
|242|2000-12-07|27011.8|27011.8|26478.7|26656.4|25190.236| 40656.0|533.10156|
|243|2000-12-08|26656.4|27722.7|26656.4|27651.6|  26130.7|149964.0|1066.2988|
|244|2000-12-11|27687.1|28860.0|27651.6|28078.1| 26533.74|159671.0|1208.4004|
|245|2000-12-12|28042.6|28078.1|27438.3|27935.9|26399.361| 74560.0| 639.7988|
|246|2000-12-13|27651.6|29286.5|27651.6|28469.1|26903.234|270385.0|1634.9004|
|247|2000-12-14|28469.1|29784.1|28291.3|28362.4|26802.406|256317.0|1492.7988|
|248|2000-12-15|28362.4|28895.6|27793.8|27935.9|26399.361|108886.0|1101.7988|
|249|2000-12-18|27580.5|28433.5|27367.3|28291.3|26735.217| 92848.0|1066.1992|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
only showing top 10 rows

In [146]:
query3.stop()

### Stop the query. Now, try reading the generated parquet files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [154]:
MySchema2 = StructType([StructField('id', IntegerType(), True),
                       StructField('date', StringType(), True),
                           StructField('open', FloatType(), True),
                           StructField('High', FloatType(), True),
                           StructField('Low', FloatType(), True),
                           StructField('Close', FloatType(), True),
                           StructField('AdjClose', FloatType(), True),
                           StructField('Volume', FloatType(), True),
                           StructField('diff', FloatType(), True)  
                           ])

In [155]:
df_saved= spark.read.schema(MySchema2).csv('/content/OpStream3')

In [156]:
df_saved.show()

+---+----------+-------+-------+-------+-------+---------+--------+---------+
| id|      date|   open|   High|    Low|  Close| AdjClose|  Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
|240|2000-12-05|26585.3|27367.3|26372.1|27011.8|25526.092| 91019.0| 995.2012|
|241|2000-12-06|27011.8|27509.4|26798.6|26869.7|25391.805|105791.0| 710.8008|
|242|2000-12-07|27011.8|27011.8|26478.7|26656.4|25190.236| 40656.0|533.10156|
|243|2000-12-08|26656.4|27722.7|26656.4|27651.6|  26130.7|149964.0|1066.2988|
|244|2000-12-11|27687.1|28860.0|27651.6|28078.1| 26533.74|159671.0|1208.4004|
|245|2000-12-12|28042.6|28078.1|27438.3|27935.9|26399.361| 74560.0| 639.7988|
|246|2000-12-13|27651.6|29286.5|27651.6|28469.1|26903.234|270385.0|1634.9004|
|247|2000-12-14|28469.1|29784.1|28291.3|28362.4|26802.406|256317.0|1492.7988|
|248|2000-12-15|28362.4|28895.6|27793.8|27935.9|26399.361|108886.0|1101.7988|
|249|2000-12-18|27580.5|28433.5|27367.3|28291.3|26735.217| 92848.0|1066.1992|
|250|2000-12-19|27722.7|28788.9|27651.6|27651.6|  26130.7|115779.0|1137.3008|
|251|2000-12-20|27402.8|27793.8|27154.0|27722.7| 26197.89| 99601.0| 639.8008|
|252|2000-12-21|27367.3|27793.8|27082.9|27722.7| 26197.89|129706.0| 710.9004|
|253|2000-12-22|27687.1|28007.0|27509.4|28007.0| 26466.55| 77233.0| 497.5996|
|254|2000-12-26|27971.5|31987.7|27473.9|28433.5|26869.592|131535.0| 4513.799|
|255|2001-01-02|27367.3|27367.3|25945.6|26656.4|25190.236| 64150.0|1421.7012|
|256|2001-01-03|26585.3|26656.4|26016.7|26656.4|25190.236| 37421.0| 639.7012|
|257|2001-01-04|27367.3|28078.1|26905.2|27082.9|25593.277|131254.0|1172.9004|
|258|2001-01-05|26940.8|26940.8|26194.4|26585.3|25123.049| 90316.0| 746.4004|
|259|2001-01-08|26514.2|27011.8|26052.2|26052.2| 24619.27|102414.0|959.60156|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
only showing top 20 rows

In [157]:
from pyspark.sql.functions import col

### Sort the dataframe based on the ID

In [158]:
finalDFSorted = df_saved.sort(col('id'))
finalDFSorted.show()

+---+----------+-------+-------+-------+-------+---------+--------+---------+
| id|      date|   open|   High|    Low|  Close| AdjClose|  Volume|     diff|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
|  0|2000-01-04|22817.9|25696.8|22817.9|24879.3| 23510.88|108745.0|2878.9004|
|  1|2000-01-05|24523.9|26229.9|23670.9|24417.3|23074.295|175990.0|   2559.0|
|  2|2000-01-06|24381.7|24666.1|22746.8|22817.9|21562.865| 71746.0|1919.2988|
|  3|2000-01-07|22036.0|24879.3|22036.0|23884.2|22570.514|120984.0|2843.3008|
|  4|2000-01-10|24879.3|25519.1|23813.1|24061.9| 22738.44|151371.0|   1706.0|
|  5|2000-01-11|24168.5|25021.5|23955.2|24239.6|22906.365| 95943.0|1066.3008|
|  6|2000-01-12|24168.5|24452.8|23457.6|23670.9|22368.947| 61899.0| 995.2012|
|  7|2000-01-13|23670.9|24132.9|23102.2|23244.4|21965.906| 57538.0|1030.7012|
|  8|2000-01-14|23457.6|24168.5|22746.8|23244.4|21965.906| 84267.0|1421.6992|
|  9|2000-01-17|22533.6|23457.6|22533.6|23457.6|22167.377| 67807.0|    924.0|
| 10|2000-01-18|23457.6|23742.0|22746.8|23422.1|22133.832| 27995.0| 995.1992|
| 11|2000-01-19|22817.9|23173.3|22036.0|22036.0| 20823.97| 44173.0|1137.3008|
| 12|2000-01-20|21325.1|22000.4|20756.5|21680.6|20488.117| 47550.0|1243.9004|
| 13|2000-01-21|21680.6|22391.4|20863.1|21680.6|20488.117| 80750.0|1528.3008|
| 14|2000-01-24|20969.7|21822.7|20969.7|20969.7| 19816.32| 79906.0|    853.0|
| 15|2000-01-25|20258.9|20934.2|19548.0|20116.7|19010.236|170925.0|1386.1992|
| 16|2000-01-26|20223.3|20543.2|19761.3|20330.0|19211.805| 59929.0|781.89844|
| 17|2000-01-27|20401.0|22746.8|20330.0|21040.8|19883.512|139132.0|2416.8008|
| 18|2000-01-28|21431.8|22107.1|21040.8|21964.9|20756.783| 78640.0|1066.2988|
| 19|2000-01-31|21325.1|21893.8|21183.0|21467.3|20286.553| 45861.0| 710.8008|
+---+----------+-------+-------+-------+-------+---------+--------+---------+
only showing top 20 rows